.btn {
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
  border: 2px solid #464646;
  color: #464646;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0;
  &:hover {
    background-color: #464646;
    color: white;
  }
  &:focus {
    box-shadow: none;
  }
}
.btn-back {
  width: 73px;
}
.btn-details {
  width: 104px;
}
.btn_background {
  background-color: #464646;
  color: white;
  &:hover {
    color: #464646;
    background-color: transparent;
  }
}
.btn-up-mobile {
  border: none;
  &:hover {
    background-color: transparent;
  }
  img {
    &:hover {
      opacity: 0.6;
    }
  }

}
.btn_margin {
  margin-top: 16px;
}