
$font_family_gilroy_bold: 'Conv_Radomir Tinkov - Gilroy-Bold', Arial, sans-serif;


$breakpoint_query: (xs: 0, xss: 321px, xsm:375px, xsi: 421px, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xls: 1366px, xlm: 1441px, xlg: 1601px);
$grid-breakpoints: $breakpoint_query;

$main-color: #464646;
$color_grey: #B4B4B4;
$font-size-xs: 12px;